<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
  <div>
    <table border="1">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>
      <% if (userData.length !== 0) { %>
        <% userData.forEach(async function(data) { %>
          <tr>
            <td><%= data.nome %></td>
            <td><%= data.cpf %></td>
            <td><%= data.nasc %></td>
            <td><%= data.email %></td>
            <td><%= data.tel %></td>
            <td><%= data.ender %></td>
            <td><%= data.cidade %></td>
            <td><%= data.estado %></td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td>No Data Found</td>
        </tr>
      <% } %>
    </table>
  </div>
</body>
</html>